.navbar{
    background:#fff;
    grid-area:nav;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    border-bottom: 1px solid lightgray;
}

.nav--icon{
    display: none;

}

.nav--icon i{
    font-size: 1.6;
    color:#a5aaad;
    
}

.navbar--left a{
    margin:2rem;
    text-decoration:none;
    color:#a5aaad;
    font-size: 1rem;
    font-weight: 700;
}

.navbar--left .active--link{
    color:#265acc;
    border-bottom: 3px solid #265acc;
    padding-bottom: 0.9rem;
}

.navbar--right{
    display:flex;
    justify-content: center;
    align-items: center;
}

.navbar--right a{
    margin-left:1.3rem;
    text-decoration: none;
}

.navbar--right a i{
    color:#a5aaad;
    font-size: 1rem;
    border-radius: 3.8rem;
    background:#fff;
    box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #FFFF;
    padding:0.5rem;
}


@media only screen and (max-width:979px){
    .nav--icon{
        display: inline;
    }
}
@media only screen and (max-width:480px){
    .navbar--left{
        display: none;
    }

}